*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.a{
    position:fixed;
    border:solid 2px black;
    display:inline-block;
    height:100px;
    width:1440px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
    top:0;
    left:0;
    background-color: #ffc0cb;
}
.b{
    display:flexbox;
    height:800px;
    width:1440px;
    gap:0;
}
.c{
    background-color: #ffdfe4;
    display:flexbox;
    height:350px;
    width:1440px;
    position:relative;
    gap:0;
}
.ab{
    display:inline-block;
    height:80%;
    width:6%;
    position:absolute;
    top:10%;
    left:5%;
    transform:translateX(-50%);
}
.cb{
    
    display:inline-block;
    height:300px;
    width:1300px;
    position:absolute;
    top:0%;
    left:4.55%
}
.cbc1{
    display:inline-block;
    height:100%;
    width:33%;
    position:relative;
}
.cbc11{
    
    display:grid;
    height:90%;
    width:80%;
    border-radius: 50px;
    position:absolute;
    top:5%;
    left:10%;
    place-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow:10px 10px 20px rgb(19, 18, 19);
}
.aa{
    display:inline-block;
    height:auto;
    width:auto;
    position:absolute;
    top: 35px;
    right:90px;
    text-decoration: none;
}
.ac{
    display:inline-block;
    height:auto;
    width:auto;
    position:absolute;
    top: 35px;
    right:30px;
    text-decoration: none;
}
.heading{
    display:inline-block;
    height:95px;
    width:700px;
    position:absolute;
    top:0%;
    left:25%;
}
.d{
    display:inline-block;
    width:1440px;
    height:80px;
    position:relative;
    background-color: #ffdfe4;
}
.cityname{
    width:auto;
    height:auto;
    position:absolute;
    top:70%;
}
div>u{
    color: blue;
}
.da{
    position:absolute;
    top:40%;
    left:40%
}
.pujithbabu{
    text-decoration: none;
}